@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
