@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure it stays in the background */
  background-color: #f0f0f0; /* Light background */
  overflow: hidden;
}


.search-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  flex-wrap: nowrap;
}

.search-results .result-item {
  flex: 0 0 20%;
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-results .result-item:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.search-results .result-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e0e0e0;
}

.search-results .result-item h2 {
  font-size: 1.25rem;
  margin: 10px 0;
  padding: 0 10px;
  color: #333;
}

.search-results .result-item p {
  font-size: 0.875rem;
  color: #6b7280;
  margin: 5px 0;
  padding: 0 10px;
}
